main>div>article:nth-of-type(2) {
    /* height: 100vh; */
    /* width: 100vw; */
    padding: 0 1em;
}

main>div>article:nth-of-type(2) ul {
    width: 100%;
    height: 30em;

    list-style: none;
    padding: 0 2em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    overflow-X: scroll;
    overflow-Y: hidden;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    gap: 2em;
}

main>div>article:nth-of-type(2) ul::-webkit-scrollbar {
    height: .5em;
}

main>div>article:nth-of-type(2) ul::-webkit-scrollbar-thumb {
    background-color: var(--them-color);
    border-radius: 5em;
}

main>div>article:nth-of-type(2) ul li {
    width: 20em;
    max-width: 30em;
    height: 35em;
    scroll-snap-align: center;
    flex-shrink: 0;

    display: grid;
    place-items: center;

    position: relative;
    transition: 1s;
}

main>div>article:nth-of-type(2) ul li.GDA::after {
    content: "";
    --width: 4em;
    width: var(--width);
    height: var(--width);

    position: absolute;
    top: 28%;
    left: calc(-1 * var(--width) /3);
    z-index: 2;

    transition: 1s;
    background-color: transparent;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Star_icon_stylized.svg/512px-Star_icon_stylized.svg.png?20220926045328);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

main>div>article:nth-of-type(2) ul li:has(:focus-visible).GDA::after,
main>div>article:nth-of-type(2) ul li:hover.GDA::after {
    top: 8%;
}

main>div>article:nth-of-type(2) ul li>div,
main>div>article:nth-of-type(2) ul li section {
    width: 100%;
    height: 40%;
    position: absolute;

    transition: 1s;
}

main>div>article:nth-of-type(2) ul li>div {
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 2em;

    background-color: black;
}

main>div>article:nth-of-type(2) ul li>div h3 {
    position: absolute;
    opacity: 0;
    transition: 1s;
}

main>div>article:nth-of-type(2) ul li:has(:focus-visible)>div h3,
main>div>article:nth-of-type(2) ul li:hover>div h3 {
    opacity: 100%;
}

main>div>article:nth-of-type(2) ul li>div img {
    width: 100%;
    height: 100%;
    transition: 1s;

    object-fit: cover;
    object-position: center;
}

main>div>article:nth-of-type(2) ul li:has(:focus-visible)>div img,
main>div>article:nth-of-type(2) ul li:hover>div img {
    opacity: 20%;
}


main>div>article:nth-of-type(2) ul li section {
    display: flex;
    flex-direction: column;
    border-radius: 2em;

    overflow: hidden;
    background-color: var(--nav);
}

main>div>article:nth-of-type(2) ul li section p {
    color: var(--dark-text);
    padding: .5em;
    font-size: .95em;
}

main>div>article:nth-of-type(2) ul li section p:first-of-type {
    height: calc(100% - 4.5em);
}

main>div>article:nth-of-type(2) ul li section p:first-of-type::first-letter {
    text-transform: uppercase;
}

main>div>article:nth-of-type(2) ul li section p:nth-of-type(2) {
    height: 2em;
}

main>div>article:nth-of-type(2) ul li section div {
    height: 2.5em;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--them-color);
}

main>div>article:nth-of-type(2) ul li section div a {
    text-decoration: none;
    width: 5.5em;
    height: fit-content;
    padding: .1em 0;

    text-align: center;
    color: var(--text-color);

    position: relative;

    transition: .5s;

    border-radius: 1em;
}

main>div>article:nth-of-type(2) ul li section div a::after {
    content: ">";
    position: absolute;
    opacity: 100%;
    animation: afterMoving .7s infinite both alternate;
    animation-play-state: running;
}

@keyframes afterMoving {
    from {
        transform: translateX(.1em);
    }

    to {
        transform: translateX(.3em);
    }
}

main>div>article:nth-of-type(2) ul li section div a:focus-visible,
main>div>article:nth-of-type(2) ul li section div a:hover {
    outline-color: transparent;
    color: var(--dark-text);
    background-color: white;
}

main>div>article:nth-of-type(2) ul li section div a:focus-visible::after,
main>div>article:nth-of-type(2) ul li section div a:hover::after {
    opacity: 0;
}

main>div>article:nth-of-type(2) ul li:has(:focus-visible)>div,
main>div>article:nth-of-type(2) ul li:hover>div {
    border-radius: 2em 2em 0 0;
    transform: translateY(-50%);
}

main>div>article:nth-of-type(2) ul li:has(:focus-visible) section,
main>div>article:nth-of-type(2) ul li:hover section {
    border-radius: 0 0 2em 2em;
    transform: translateY(50%);
}

main>div>article:nth-of-type(2)>div {
    display: none;
}





main>div>article:nth-of-type(2) ul li div.desktop-version,
main>div>article:nth-of-type(2) ul li>button {
    display: none;
}








/* ************ */
/* larg screens */
/* ************ */

@media (min-width: 1250px) {
    main>div>article:nth-of-type(2) {
        transform-style: preserve-3d;
        perspective: 50em;
        padding: 0;

        background-image: url(https://www.pngarts.com/files/3/Butterflies-Transparent-Images.png);
        background-size: 40%;
        background-position: left top;
        background-blend-mode: color-burn;
    }

    main>div>article:nth-of-type(2) h2 {
        display: none;
    }

    main>div>article:nth-of-type(2) ul {
        /* width: 95%;
        height: 95%; */
        width: 95%;
        height: 100%;
        padding: 0;
        padding-top: 2%;
        overflow: unset;
        scroll-snap-type: none;
        overscroll-behavior-x: none;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 20%);
        gap: 1em;

        position: absolute;
        top: 0;
        z-index: 100000;
    }

    main>div>article:nth-of-type(2) ul li {
        width: 100%;
        height: 100%;
        align-self: center;

        place-items: unset;
        border-radius: .5em;

        background-color: white;

        grid-template-rows: 75% 25%;

        position: relative;
        z-index: 4;
        box-shadow: 0 0 0 .1em var(--them-color),
            0 .2em .05em rgba(53, 53, 53, 0.699);
    }

    main>div>article:nth-of-type(2) ul li::before {
        content: "";
        width: .5em;
        aspect-ratio: 1/1;
        border-radius: 50%;

        position: absolute;
        top: 1%;
        left: calc(50% - .5em /2);
        z-index: 2;

        background-color: var(--bookcase);
        box-shadow:
            inset 0 -.1em var(--bookcase-shadow),
            0 .1em .05em rgba(53, 53, 53, 0.699);
    }

    main>div>article:nth-of-type(2) ul li div,
    main>div>article:nth-of-type(2) ul li section {
        display: none;
    }

    main>div>article:nth-of-type(2) ul li:nth-of-type(2n+8) {
        grid-column: 6/-1;
    }

    main>div>article:nth-of-type(2) ul li:nth-of-type(2n+9) {
        grid-column: 1/2;
    }

    main>div>article:nth-of-type(2) ul li.GDA::after {
        --width: 1em;
        top: -15%;
    }

    main>div>article:nth-of-type(2) ul li div.desktop-version {
        display: block;
        height: 100%;

        border-radius: .5em .5em 0 0;
    }

    main>div>article:nth-of-type(2) ul li>button {
        appearance: none;
        --webkit-appearance: none;
        width: 100%;
        height: 100%;
        font-size: .4em;
        color: var(--them-color);
        text-decoration: none;
        cursor: pointer;
        border: none;
        background-color: transparent;

        display: grid;
        place-content: center;

        border-radius: 0 0 .5em .5em;
    }

    main>div>article:nth-of-type(2)>div {
        display: block;

        width: 40%;
        height: 37%;

        position: absolute;
        bottom: 4.3em;
        z-index: 100000;
        border-radius: .3em;

        background-color: white;
        background-image: url(../hobbyesimages/my-room.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0 0 0 0.3em var(--screen);

        display: grid;
        place-items: center;
    }

    main>div>article:nth-of-type(2)>div.projectOpen {
        background-image: none;
    }

    /* desktop screen */
    main>div>article:nth-of-type(2)>div section {
        width: 99%;
        height: 98%;
        overflow-y: scroll;
        border-radius: .3em;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5em;
    }

    main>div>article:nth-of-type(2)>div section::-webkit-scrollbar {
        width: .3em;
    }

    main>div>article:nth-of-type(2)>div section::-webkit-scrollbar-thumb {
        background-color: var(--them-color);
        border-radius: 5em;
    }

    main>div>article:nth-of-type(2)>div section h3 {
        color: var(--them-color);
        grid-area: 1/1/2/-1;
        justify-self: center;
        margin-top: .5em;
    }

    main>div>article:nth-of-type(2)>div section p {
        width: 100%;
        text-align: center;
        grid-area: 2/1/3/-1;
        font-size: .5em;
        color: black;
        padding: 0 .5em;
    }

    main>div>article:nth-of-type(2)>div section img {
        width: 90%;
        grid-area: 4/1/5/-1;
        justify-self: center;
        margin: .8em 0 .1em 0;
        box-shadow: 0 0 0.3em .1em var(--them-color);
    }

    main>div>article:nth-of-type(2)>div section a {
        width: fit-content;
        height: fit-content;
        text-decoration: none;
        font-size: .8em;
        color: var(--text-color);
        padding: .2em .5em;
        border-radius: 5em;
        justify-self: center;
        background-color: var(--them-color);
        box-shadow: -.2em .2em .3em rgba(0, 0, 0, 0.486);
        transition: .5s;
    }

    main>div>article:nth-of-type(2)>div section a:hover {
        background-color: var(--secondere-color);
        box-shadow: -.1em .1em .1em rgba(0, 0, 0, 0.486);
    }

    main>div>article:nth-of-type(2)>div section a:active {
        transform: scale(.8);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.486);
    }

    main>div>article:nth-of-type(2)>div::after {
        content: "";
        width: 10%;
        height: 15%;
        background-color: var(--screen);

        position: absolute;
        bottom: -1em;
        right: calc(50% - 10% /2);
    }

    /* the table */
    main>div>article:nth-of-type(2)>div::before {
        content: "";
        width: 5em;
        height: .5em;
        background-color: var(--screen);

        position: absolute;
        bottom: -1.4em;
        right: calc(50% - 5em /2);
        border-radius: 2em;
    }

    /* table */
    main>div>article:nth-of-type(2)::after {
        content: "";
        width: 60%;
        height: 1em;
        border-radius: 5em;
        background-color: var(--wood);
        box-shadow: inset 0 -.2em 0 var(--wood-shadow);

        position: absolute;
        bottom: 2.1em;
        right: calc(50% - 60% /2);

    }

    main>div>article:nth-of-type(2)::before {
        content: "";
        width: 50%;
        height: 2.1em;
        background-image:
            linear-gradient(to right,
                var(--wood) 5%,
                transparent 0 95%,
                var(--wood) 0 100%);

        position: absolute;
        bottom: 0em;
        right: calc(50% - 50% /2);
    }

    main>div>article:nth-of-type(2)::after,
    main>div>article:nth-of-type(2)::before {
        transform-style: preserve-3d;
        transform: translateZ(1em) translateY(-.2em);
    }

    /* hovers */

    main>div>article:nth-of-type(2) ul li:has(:focus-visible).GDA::after,
    main>div>article:nth-of-type(2) ul li:hover.GDA::after {
        top: -15%;
    }

    main>div>article:nth-of-type(2) ul li:has(:focus-visible)>div img,
    main>div>article:nth-of-type(2) ul li:hover>div img {
        opacity: 100%;
    }

    main>div>article:nth-of-type(2) ul li:has(:focus-visible)>div,
    main>div>article:nth-of-type(2) ul li:hover>div {
        border-radius: .5em .5em 0 0;
        transform: none;
    }

    main>div>article:nth-of-type(2) ul li:has(:focus-visible),
    main>div>article:nth-of-type(2) ul li:has(:hover) {
        /* transform: scale(1.15); */
        box-shadow: 0 0 0 .1em var(--secondere-color),
            0 .2em .05em rgba(53, 53, 53, 0.699);
        transform-origin: 50% 5%;
        transform: rotate(5deg);
        animation: fotoRotate 1s -.5s infinite both alternate ease-in-out;
    }

    @keyframes fotoRotate {
        0% {
            transform: rotate(5deg)
        }

        100% {
            transform: rotate(-5deg)
        }
    }

    main>div>article:nth-of-type(2) ul li>button:focus-visible,
    main>div>article:nth-of-type(2) ul li>button:hover {
        outline: none;
        color: var(--dark-text);
    }
}