main>div>article:nth-of-type(4) {
    margin-bottom: 5em;
    gap: 3em;
}

main>div>article:nth-of-type(4) ul {
    list-style: none;
    width: 90%;
    height: 20em;
    display: flex;
    gap: 1em;
}

main>div>article:nth-of-type(4) ul li {
    flex: .5;
    border-radius: 1em;
    overflow: hidden;

    transition: 1s;

    display: grid;
    place-items: center;
    position: relative;

    background-color: black;
}

main>div>article:nth-of-type(4) ul li:nth-child(n+7) {
    display: none;
}

main>div>article:nth-of-type(4) ul li:hover {
    flex: 7;
}

main>div>article:nth-of-type(4) ul li h3 {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: 1s;
}

main>div>article:nth-of-type(4) ul li a {
    width: fit-content;
    height: 2em;
    padding: .4em 1em .5em 1em;
    position: absolute;
    top: 60%;
    z-index: 1;

    color: var(--dark-text);
    text-decoration: none;
    border-radius: 5em;

    background-color: var(--nav);
    transition: .5s;
    opacity: 0;
}

main>div>article:nth-of-type(4) ul li a:hover {
    color: var(--text-color);
    background-color: var(--them-color);
}

main>div>article:nth-of-type(4) ul li img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 1s;
}

main>div>article:nth-of-type(4) ul li:hover img {
    opacity: 30%;
}

main>div>article:nth-of-type(4) ul li:hover a,
main>div>article:nth-of-type(4) ul li:hover h3 {
    opacity: 100%;
}

main>div>article:nth-of-type(4) ul li:nth-last-child(-n+2) {
    display: none;
}

main>div>article:nth-of-type(4)>div {
    display: none;
}

main>div>article:nth-of-type(4)>article {
    display: none;
}


/* ************ */
/* larg screens */
/* ************ */

@media (min-width: 1250px) {
    main>div>article:nth-of-type(4) {
        margin-bottom: 0;
        display: grid;
        place-items: center;
        gap: 0;

        transform-style: preserve-3d;
        perspective: 50em;

        background-color: var(--bg);
        background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b857126b-0769-4ab0-a37f-3dbcb2d39d86/d95ih9w-a517298d-8d69-478e-a16b-cfd1acf4a92f.png/v1/fill/w_500,h_337/kuroko_no_basuke_tetsuya_2_by_animeboszi7_d95ih9w-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzM3IiwicGF0aCI6IlwvZlwvYjg1NzEyNmItMDc2OS00YWIwLWEzN2YtM2RiY2IyZDM5ZDg2XC9kOTVpaDl3LWE1MTcyOThkLThkNjktNDc4ZS1hMTZiLWNmZDFhY2Y0YTkyZi5wbmciLCJ3aWR0aCI6Ijw9NTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.Pl_EBkAjR-zjvn8lO7V8FaRnra4yTXXSDir2R0hpWWI);
        background-position: right 2% bottom;
        background-repeat: no-repeat;
        background-size: 15%;
        background-blend-mode: luminosity;
    }

    main>div>article:nth-of-type(4) h2 {
        visibility: hidden;
    }

    main>div>article:nth-of-type(4) ul {
        width: 45%;
        height: 60%;
        position: absolute;
        left: 5%;
        top: 5%;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: .3em;

        perspective: none;
        transform-style: preserve-3d;
        /* background-color: antiquewhite; */
    }

    main>div>article:nth-of-type(4) ul li {
        display: none;
        border-radius: 0;
    }

    main>div>article:nth-of-type(4) ul li:hover img {
        opacity: 30%;
    }

    main>div>article:nth-of-type(4) ul li:nth-child(n+7) {
        display: grid;
        transform-style: preserve-3d;
    }

    main>div>article:nth-of-type(4) ul li:nth-child(n+7) a {
        width: 50%;
        height: fit-content;
        font-size: .3em;
        text-align: center;
        padding: 0;
        cursor: pointer;
    }

    main>div>article:nth-of-type(4) ul li:nth-child(n+7) a:hover {
        background-color: var(--them-color);
    }

    main>div>article:nth-of-type(4) ul li:nth-last-child(1) {
        grid-area: 1/3/3/4;
    }

    main>div>article:nth-of-type(4) ul li:nth-last-child(2) {
        grid-area: 1/1/5/3;
        /* align-self: center; */
    }

    main>div>article:nth-of-type(4) ul li:nth-last-child(3) {
        grid-area: 3/3/5/4;
    }

    main>div>article:nth-of-type(4) ul li:nth-last-child(4) {
        grid-area: 4/4/5/5;
    }

    main>div>article:nth-of-type(4) ul li:nth-last-child(5) {
        grid-area: 2/4/4/5;
    }


    main>div>article:nth-of-type(4) ul li h3 {
        width: 90%;
        opacity: 0%;
        text-align: center;
        font-size: .2em;
    }

    main>div>article:nth-of-type(4) ul li:hover h3 {
        opacity: 100%;
    }


    /* the bed */

    /* main>div>article:nth-of-type(4)>div:first-of-type{
        transform-style: preserve-3d;
        transform: translateZ(1em) translateY(-0.2em) translateX(0.2em);
    } */

    main>div>article:nth-of-type(4)>div:first-of-type,
    main>div>article:nth-of-type(4)>div:first-of-type div {
        display: block;
        width: 55%;
        height: 20%;

        position: absolute;
        bottom: 0;
        left: 4.5%;
        z-index: 2;

        background-color: var(--wood);
        box-shadow: inset 0 .3em 0 var(--wood-shadow);
    }
    
    main>div>article:nth-of-type(4)>div:first-of-type{
        transform-style: preserve-3d;
        transform: translateZ(.5em);
    }

    main>div>article:nth-of-type(4)>div:first-of-type > div {
        width: 100%;
        height: 30%;
        border-radius: .5em .5em 0 0;
        bottom: 99%;
        left: 0em;
        z-index: -1;
        background-color: var(--bed-cover);
        box-shadow: inset 0 -.3em 0 var(--bed-cover-shadow);
    }

    main>div>article:nth-of-type(4)>div:first-of-type div::after {
        content: "";
        width: 80%;
        height: 108%;
        display: block;
        border-radius: .2em .5em 0 0;
        position: absolute;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(to right,
                white 0 10%,
                var(--bed-sheet) 0 100%);
        box-shadow: inset 0 -.3em 0 var(--bed-sheet-shadow);
    }

    main>div>article:nth-of-type(4)>div:first-of-type div::before {
        content: "";
        width: 20%;
        height: 100%;
        display: block;
        border-radius: 22% 78% 21% 22% / 50% 77% 23% 50%;
        position: absolute;
        left: 0;
        bottom: 100%;
        background-color: var(--bed-sheet);
        box-shadow: inset 0 -.3em 0 var(--bed-sheet-shadow);
    }

    main>div>article:nth-of-type(4)>div:first-of-type::before {
        content: "";
        width: 5%;
        height: 200%;
        display: block;
        border-radius: 5em 5em 0 0;
        position: absolute;
        bottom: 0;
        left: -4.5%;
        background-color: var(--wood);
    }

    main>div>article:nth-of-type(4)>div:first-of-type::after {
        content: "";
        display: block;
        width: 10%;
        height: 80%;
        position: absolute;
        bottom: 123%;
        left: 18%;
        z-index: -3;

        background-color: transparent;
        background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/58bf091d-a37d-4d53-95ec-ee700a7bd2cc/deeln8u-4e48c003-02b2-410c-8c28-12281cd276ef.png/v1/fill/w_394,h_548/pikachu_plush_toy__png__by_spongebobfan2010_deeln8u-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTQ4IiwicGF0aCI6IlwvZlwvNThiZjA5MWQtYTM3ZC00ZDUzLTk1ZWMtZWU3MDBhN2JkMmNjXC9kZWVsbjh1LTRlNDhjMDAzLTAyYjItNDEwYy04YzI4LTEyMjgxY2QyNzZlZi5wbmciLCJ3aWR0aCI6Ijw9Mzk0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.Js6ub9nR0dRzWZ4jWvLL7NZeuD78JNTQS8nK0TlFmnY);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }


    /* the canvas stand */

    main>div>article:nth-of-type(4)>article {
        display: block;
        width: 20%;
        height: 45%;

        position: absolute;
        right: 18%;
        bottom: 23%;
        /* border-bottom: solid .3em var(--wood); */

        box-shadow:
            0 .1em 0 var(--wood-shadow),
            0 .3em 0 var(--wood);
    
        transform-style: preserve-3d;
        transform-origin: bottom;
        transform: translateZ(2em) rotateX(10deg);

        background-color: rgb(255, 255, 255);
        /* background-image: linear-gradient(to right, transparent 0 30%, brown 0 70%, transparent 0 100%); */
    }

    main>div>article:nth-of-type(4)>article::before {
        content: "";
        width: 5%;
        height: 170%;
        display: block;

        position: absolute;
        left: 50%;
        top: -10%;

        transform: translateZ(-1em) rotateX(-10deg);
        background-color: var(--wood);
    }

    main>div>article:nth-of-type(4)>article::after {
        content: "";
        width: 100%;
        height: 150%;
        display: block;
        position: absolute;
        top: 0;
        left: 5%;
        z-index: -1;

        transform: translateZ(-.1em) rotateX(0deg);

        background-image: conic-gradient(from 90deg at 50% 0,
                transparent 0 75deg,
                var(--wood) 75deg 78deg,
                transparent 78deg 102deg,
                var(--wood) 102deg 105deg,
                transparent 105deg 360deg);
    }

    main>div>article:nth-of-type(4)>article img {
        width: 100%;
        height: 100%;
        /* object-fit: cover; */
        object-position: center;
    }

    main>div>article:nth-of-type(4)>article a {
        padding: 0.2em 0.5em;
        background-color: var(--bg);
        color: var(--dark-text);
        width: 3vw;
        height: fit-content;
        text-align: center;
        text-decoration: none;
        font-size: .5vw;
        border-radius: 5em;
        position: absolute;
        bottom: 15%;
        left: calc(50% - 3vw /2);

        opacity: 0;
        transition: .5s;
    }

    main>div>article:nth-of-type(4)>article:hover a {
        opacity: 100%;
    }

    main>div>article:nth-of-type(4)>article a:hover{
        background-color: var(--them-color);
        color: var(--text-color);
    }

    /* wall shelves */

    main>div>article:nth-of-type(4)>div:nth-of-type(2) {
        width: 40%;
        height: 90%;
        display: block;
        position: absolute;
        top: 0;
        right: 3%;

        display: grid;
        place-items: center;
    }

    main>div>article:nth-of-type(4)>div:nth-of-type(2) div {
        width: 35%;
        height: 2%;
        position: absolute;
        border-radius: 1em;
        background-color: var(--wood);
        box-shadow: inset 0 -.1em 0 var(--wood-shadow);

    }

    main>div>article:nth-of-type(4)>div:nth-of-type(2) div:first-of-type {
        left: 0;
        top: 20%;
        display: flex;
        justify-content: space-around;
    }


    main>div>article:nth-of-type(4)>div:nth-of-type(2) div:nth-of-type(2) {
        right: 10%;
        top: 30%;
    }

    main>div>article:nth-of-type(4)>div:nth-of-type(2) div:first-of-type::after,
    main>div>article:nth-of-type(4)>div:nth-of-type(2) div:first-of-type::before,
    main>div>article:nth-of-type(4)>div:nth-of-type(2) div:nth-of-type(2)::after,
    main>div>article:nth-of-type(4)>div:nth-of-type(2) div:nth-of-type(2)::before {
        content: "";
        width: 50%;
        aspect-ratio: 1/1;
        display: block;

        position: absolute;
        bottom: 0;
        z-index: -1;

        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    main>div>article:nth-of-type(4)>div:nth-of-type(2) div:first-of-type::after {
        background-image: url(https://www.sideshow.com/cdn-cgi/image/width=500,quality=80,f=auto/https://www.sideshow.com/storage/product-images/910900/zenitsu-agatsuma-thunderclap-and-flash_dc-comics_silo_md.png);
        right: 5%;
    }

    main>div>article:nth-of-type(4)>div:nth-of-type(2) div:first-of-type::before {
        background-image: url(https://cdn.shopify.com/s/files/1/0318/2649/products/2655200-removebg-preview.png?v=1629786705);
        left: 5%;
    }

    main>div>article:nth-of-type(4)>div:nth-of-type(2) div:nth-of-type(2)::after {
        background-image: url(../hobbyesimages/naruto-figure.png);
        width: 40%;
        right: 5%;
        background-size: cover;
    }

    main>div>article:nth-of-type(4)>div:nth-of-type(2) div:nth-of-type(2)::before {
        background-image: url(https://cdn.shopify.com/s/files/1/0018/4428/1419/products/product-image-1725780976_640x640.png?v=1619608413);
        left: 5%;
    }
}