*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    caret-color: transparent;
}

:root {
    --h2-font: 'Smokum', cursive;
    --h3-font: 'Rubik Dirt', cursive;
    --p-font: 'EB Garamond', serif;

    --foto-filter:grayscale(100%) sepia(50%);

    --cover-color: rgb(172, 77, 0);
    --cover-box-shadow: inset 0 0 2em rgb(58, 57, 57);
    --paper-box-shadow: inset 0 0 1em rgb(141, 63, 0);
}

/* images bron https://www.pngwing.com/en/free-png-xxmck */

/* bron img: https://img.freepik.com/free-photo/vintage-desk-concept_23-2147791064.jpg?w=1380&t=st=1678711885~exp=1678712485~hmac=91d12ef14bda45f164d0b06e5e1b4706a414e4698ba5acbba06b642d2017a4eb */
body {
    width: 100vw;
    height: 100dvh;
    height: 100vh;

    background-image: url(../images/old-desk.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    overflow: hidden;
}

header {
    width: 100%;
    height: 20%;
    height: fit-content;
    display: grid;
    place-items: center;

    display: none;
}

header h1 {
    width: 50%;
    height: 100%;
    text-align: center;

    background-image: url(../images/old-paper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 99% 99%;
}

header>div {
    width: 20em;
    height: 30em;

    display: grid;
    place-items: center;
    overflow: hidden;
    position: relative;
}

header>div div {
    width: 90%;
    height: 70%;

    position: absolute;
    z-index: 0;

    overflow: hidden;

    background-image: url(https://media.tenor.com/T90erSIZ41sAAAAM/harry-potter-cute.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header>div iframe {
    width: 100%;
    height: 100%;
    background-image: url(../images/old-cader.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    z-index: 1;

}















/* ************** */
/* main */
/* ************** */

main {
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;

    perspective: 50em;
    transform-style: preserve-3d;
}

main>section {
    --width: 50%;
    width: var(--width);
    aspect-ratio: 1/3;
    list-style: none;

    /* background-color: rgb(88, 41, 2); */
    filter: drop-shadow(1em 1em 2em black);

    position: absolute;

    transform-style: preserve-3d;
    transition: 2.5s;
    transform: rotate(10deg) translateY(0);
}

main>section.growing {
    --width: 90%;
    transform: rotate(0deg) translateY(-28%);
}

main>section>a,
main>section div:last-of-type {
    width: 100%;
    height: 50%;

    position: absolute;
    bottom: 0;

    background-color: var(--cover-color);
    box-shadow: var(--cover-box-shadow);
}


main>section>a:first-of-type {
    background-color: var(--cover-color);
    z-index: 100;
    background-image: url(../images/book-cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;

    transform-style: preserve-3d;
    transform-origin: 50% 0%;

}

main>section.growing>a:first-of-type {
    --a-duration: 2s;
    animation: flibing var(--a-duration) 1 linear forwards;
}

main>section>a:nth-of-type(2) {
    width: 5em;
    height: 2.5em;

    z-index: 1000;
    position: absolute;
    right: 1%;
    bottom: 50%;

    background-color: transparent;
    box-shadow: none;
    background-image:
        conic-gradient(at 20% 50%,
            red 0% 60%,
            transparent 60% 90%,
            red 90%);

    transform-origin: right;
    transform: scaleX(0);
    transition: 1s;
}

main>section.growing>a:nth-of-type(2) {
    transform: scaleX(1);
}

main>section.growing>a:nth-of-type(2):hover {
    transform: scaleX(1.5);
}


main>section ul {
    width: 100%;
    height: 50%;

    list-style: none;

    position: absolute;
    bottom: 0;
    z-index: 99;
    transform-style: preserve-3d;

    display: grid;
    place-items: center;
}

main>section.growing ul:not(:last-of-type) {
    z-index: 101;
}

main>section.growing ul li {
    width: 96%;
    height: 97%;
    position: absolute;
    background-color: white;
    background-image: url(../images/old-paper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    box-shadow: var(--paper-box-shadow);

    transform-style: preserve-3d;
    transform-origin: 50% 0%;
    overflow: hidden;

    padding: 3%;
}

main>section.growing ul:first-of-type li {
    transform-style: preserve-3d;
    animation: flibing var(--a-duration) 1 linear forwards;
}

main>section.growing ul:first-of-type li:first-child {
    --a-duration: 2.2s;
}

main>section.growing ul:first-of-type li:nth-child(2) {
    --a-duration: 2.6s;
}

main>section.growing ul:first-of-type li:nth-child(3) {
    --a-duration: 2.8s;
}


@keyframes flibing {
    100% {
        transform: rotateX(180deg);
    }
}

main>section ul:nth-of-type(2) {
    z-index: 3;
}






main>section ul:nth-of-type(2) {
    overflow: hidden;
    z-index: 88;
}

main>section ul:nth-of-type(2) li {
    display: flex;
    flex-direction: column;
    box-shadow: 0 .5em .5em rgba(0, 0, 0, 0.555);
}




main>section ul:nth-of-type(2) li section:first-of-type {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    gap: 3%;

    margin-bottom: 3%;
    padding-bottom: 3%;
}

main>section ul:nth-of-type(2) li h2 {
    font-family: var(--h2-font);
    font-size: 2.5em;
    letter-spacing: .05em;
    text-align: center;
    border-bottom: solid 2px black;
    margin-bottom: 3%;
}

main>section ul:nth-of-type(2) li section:first-of-type div {
    width: 100%;
    height: 100%;

    grid-area: 1/1/4/2;

    position: relative;

    overflow: hidden;
    background-color: var(--cover-color);
}

main>section ul:nth-of-type(2) li section:first-of-type div img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    filter: var(--foto-filter);
}

main>section ul:nth-of-type(2) li p {
    font-family: var(--p-font);
    margin-bottom: 3%;
}

main>section ul:nth-of-type(2) li section:first-of-type p {
    grid-column: 2/3;
}

main>section ul:nth-of-type(2) li a {
    color: black;
    text-decoration-color: var(--cover-color);
    grid-column: 2/3;
}

main>section ul:nth-of-type(2) li section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 15% 80%;
    gap: 1.5%;

    border-top: solid 1px black;
}

main>section ul:nth-of-type(2) li section:nth-of-type(2) h3 {
    writing-mode: vertical-lr;
    grid-area: 1/1/2/2;
    font-family: var(--h3-font);
    font-size: 3em;
    font-weight: lighter;
    padding-top: 5%;
    text-align: center;
    letter-spacing: .1em;
}

main>section ul:nth-of-type(2) li section:nth-of-type(2) p {
    grid-column: 1/3;
    margin: 0;
}

main>section ul:nth-of-type(2) li section:nth-of-type(2) p:first-of-type {
    grid-column: 2/3;
}




/* titles labels */

main>section ul:last-of-type {
    width: 100%;
    height: 5em;
    position: absolute;
    /* bottom: -4em; */
    bottom: -1em;

    display: flex;
    align-items: start;
    flex-wrap: wrap;

    padding: 0 2.5%;

    display: none;
}

main>section.growing ul:last-of-type {
    display: flex;
}

main>section ul:last-of-type li {
    background-color: antiquewhite;
    background-image: none;
    /* width: 2.5em; */
    width: calc(100% / 12);
    height: fit-content;
    position: relative;
    height: 10em;
    margin-right: .3em;

    z-index: 100;

    display: flex;
    align-items: end;

    transform-origin: top;
    padding: 0;

    transition: .2s;
}

main>section ul:last-of-type li a {
    text-decoration: none;
    font-family: var(--p-font);
    font-size: 1em;
    color: black;
    width: 100%;
    height: 100%;
    text-align: end;
    padding: 0 15% 20% 15%;

    writing-mode: vertical-lr;
}

main>section ul:last-of-type li.openpage,
main>section ul:last-of-type li:hover {
    transform: translateY(1.5em);
}



/* ***************** */
/* ul with repo data */
/* ***************** */

main>section ul:nth-of-type(2) li[data-name] iframe{
    width: 100%;
    height: 80%;
    filter: var(--foto-filter);
}

main>section ul:nth-of-type(2) li[data-name]:has(input:checked) img,
main>section ul:nth-of-type(2) li[data-name]:has(input:checked) iframe{
    filter: none;
}


main>section ul:nth-of-type(2) li[data-name] a:last-of-type{
    width: 15%;
    aspect-ratio: 1/1;

    background-color: transparent;
    background-image: url(../images/flip-corner.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 50%;

    position: absolute;
    right: 0;
    bottom: 0;

    transition: 1s;
    cursor: pointer;

    animation: flippingcorner 1s infinite linear alternate both;
}

main>section ul:nth-of-type(2) li[data-name] a:last-of-type:hover {
    background-size: 70%;
    animation: none;
}

main>section ul:nth-of-type(2) li[data-name] a:last-of-type:active {
    width: 20%;
    background-size: 100%;
}

@keyframes flippingcorner {
    from {
        background-size: 50%;
    }

    to {
        background-size: 100%;
    }
}

main>section ul:nth-of-type(2) li[data-name] label{
    width: 20%;
    height: fit-content;

    position: absolute;
    bottom: 5%;
    left: 3%;
}

main>section ul:nth-of-type(2) li[data-name] label input{
    margin-right: .5em;
}

main>section ul:nth-of-type(2) li[data-name]:has(input:checked) label{
    text-decoration: line-through;
}

main>section ul:nth-of-type(2) li[data-name]{
    transform: rotateX(0deg);
    transition: 2s;
}

main>section ul:nth-of-type(2) li[data-name].flibpaper {
    transform: rotateX(180deg);
}